/*
  ========================================
  Main
  ========================================
*/

body {
  background: #085078;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Rows
  ========================================
*/

.row-alt {
  min-width: 960px;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff);
  background:    -moz-linear-gradient(to right, #83a4d4, #b6fbff);
  background:         linear-gradient(to right, #83a4d4, #b6fbff);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

p {
  font-size: 110%;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  line-height: 150%;
  margin-bottom: 20px;
}
h1, h2, h3, h4 {
  color: #85D8CE;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
  color: #085078;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #348AC7;
  text-decoration: none;
  transition: color .2s;
}
a:hover {
  color: #085078;
  text-decoration: none;
  transition: color .2s;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #85D8CE;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #85D8CE;
}

/*
  ========================================
  Header
  ========================================
*/

#header {
  padding-top: 40px;
  position: relative;
}

.title h1 {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 50px;
  text-transform: uppercase;
  display: inline-block;
}
.title a {
  color: #85D8CE;
  transition: color .2s;
}
.title a:hover {
  color: #FFFFFF;
  transition: color .2s;
  text-decoration: none;
}

.subtitle h3 {
  text-align: right;
  font-weight: 300;
}
.subtitle a {
  color: #85D8CE;
  transition: color .2s;
  text-decoration: none;
}
.subtitle a:hover {
  color: #FFFFFF;
  transition: color .2s;
}
.subtitle h5 {
  text-align: right;
  text-transform: uppercase;
}

#header .nav {
  margin-top: 0;
}
#header .nav-link {
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFFFFF;
  transition: color .2s;
}
#header .nav-link.active {
  background-color: #348AC7;
}
#header .nav-link:hover {
  color: #85D8CE;
  transition: color .2s;
}

@media (max-width: 1199px) {
  #header .nav {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  #header .col-12 {
    margin-bottom: 20px;
  }
  #header .nav {
    justify-content: center!important;
    margin-top: 10px;
  }
}

/*
  ========================================
  Highlight
  ========================================
*/

#highlight {
  padding: 40px 0;
  text-align: center;
}
#highlight h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 18px;
}
#highlight p {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 10px;
}

/*
  ========================================
  Grid
  ========================================
*/

#grid {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 30px;
}
#grid .card {
  margin-bottom: 30px;
}
#grid h3 {
  color: #348AC7;
}

/*
  ========================================
  About
  ========================================
*/

#grid .row {
  margin-bottom: 40px;
}
#grid h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
#grid .img-wrapper img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  #about #grid .row {
    margin-bottom: 60px;
  }
  #about #grid .img-wrapper {
    margin: 0 20px;
  }
}
@media (min-width: 992px) {
  #about #grid .row {
    margin-bottom: 80px;
  }
  #about #grid .img-wrapper {
    margin: 0 40px;
  }
}

/*
  ========================================
  Leaders
  ========================================
*/

#grid .profile {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  border: 2px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 75px;
  margin-bottom: 30px;
  text-align: center;
}
#grid .profile img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
}
#grid .profile h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#leaders #grid .collapse-link {
  display: block;
  margin-bottom: 20px;
}
#grid .collapse-link span {
  position: relative;
  top: 2px;
  font-size: 18px;
}

/*
  ========================================
  Education
  ========================================
*/

#pathways img,
#roles img {
  width: 100%;
  margin-bottom: 30px;
}
#pathways .icon,
#roles .icon {
  width: 24px;
  margin-left: 4px;
  margin-bottom: 4px;
}

#education #grid .nav-link {
  font-size: 18px;
}
#education .tab-pane {
  margin-top: 40px;
}

#lessons .icon {
  width: 24px;
  margin-left: 8px;
  margin-bottom: 4px;
}
#lessons iframe {
  width: 100%;
  margin-bottom: 30px;
}

#roles li {
  font-size: 20px;
  padding: 5px 0;
  margin-bottom: 5px;
}

#manuals img:not(.collapse-icon) {
  width: 100%;
  max-width: 250px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#collapseExample1 img,
#collapseExample2 img {
  padding: 0 15px;
}
#collapseExample1 h4,
#collapseExample2 h4 {
  margin: 15px;
  margin-bottom: 30px;
  text-align: center;
}

/*
  ========================================
  Gallery
  ========================================
*/

#gallery .collapse-link {
  display: block;
}
#gallery .collapse-link h3 {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 0;
  display: inline-block;
  color: #348AC7;
  transition: color .2s;
}
#gallery .collapse-link:hover h3 {
  color: #085078;
  transition: color .2s;
}
#gallery .collapse-icon {
  position: relative;
  bottom: 3px;
}

#gallery .container {
  padding-bottom: 30px;
}
#gallery .lightgallery {
  margin-bottom: 30px;
}
#gallery img:not(.collapse-icon) {
  width: 24%;
  padding: 10px;
}

@media (max-width: 1199px) {
  #gallery img {
    width: 33%;
    padding: 10px;
  }
}
@media (max-width: 991px) {
  #gallery img {
    width: 49%;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  #gallery img {
    width: 100%;
    padding: 10px;
  }
}

/*
  ========================================
  News
  ========================================
*/

#news .card-title {
  line-height: 140%;
}

/*
  ========================================
  Contact
  ========================================
*/

#grid .text-wrapper {
  margin-bottom: 40px;
}
#map {
  height: 400px;
  width: 100%;
  border: none;
}